<html>
<head>
<title>Chat Room</title>
<script type="text/javascript" src="lib/socket.io2.js"></script>
<script src="lib/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript" charset="utf-8">
// var socket = io.connect('http://81.69.195.45');
var socket = io.connect('http://127.0.0.1');

window.onbeforeunload = function (e) {
	socket.emit("disconnected", encodeURI("User left."));
};


function sendMsg(){
	t = $("#myMessage").val();
	socket.send(encodeURI(t));
	$("#myMessage").val('');
}

$(document).ready(function() {
	socket.on('updateOnlineCount', function(msg) {
		console.log(msg);
		$("#total").text(msg);
	});

	socket.on('connect', function() {
		socket.emit("connected", 'User has connected!');
	});

	socket.on('message', function(msg) {
		$("#messages").append('<li>'+decodeURI(msg)+'</li>');
		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
		sendMsg();
	});


	var input = document.getElementById("myMessage");

	// Execute a function when the user releases a key on the keyboard
	input.addEventListener("keyup", function(event) {
		  // Number 13 is the "Enter" key on the keyboard
		  if (event.keyCode === 13) {
			sendMsg(); 
		  }
	});
});



</script>
<span>当前在线人数: <span id="total"></span> </span> <br/><br/>
<ul id="messages"></ul>
<input type="text" id="myMessage">
<button id="sendbutton">Send</button>
</body>
</html>
