<html>
<head>
<title>Chat Room</title>
<script type="text/javascript" src="lib/socket.io2.js"></script>
<script src="lib/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript" charset="utf-8">
// var socket = io.connect('http://81.69.195.45');
var socket = io.connect('http://127.0.0.1');


function makeMsg(){
	var msg = encodeURI($("#myMessage").val());
	var id = $("#idShow").text();
	return {msg: msg, id: id}
}

function decodeMsg(msg){
	msg["msg"] = decodeURI(msg["msg"])
	return msg
}

function sendMsg(){
	var msg = makeMsg();

	socket.send(msg);
	$("#myMessage").val('');
}

function appendChatMsg(msg){
	var pos = msg["id"] == $("#idShow").text()?"left":"right";
	var html = `<div style="margin:5px;text-align:${pos};">\
				<span>${msg["id"]}</span>: <br/>\
				<span style="font-size:120%;">${msg["msg"]}</span><br/>\
				</div>`;
	$("#messages").append(html);
}

$(document).ready(function() {
	socket.on('updateOnlineCount', function(msg) {
		console.log(msg);
		$("#total").text(msg);
	});

	socket.on('connect', function() {
		console.log("connect success");
	});

	socket.on('message', function(msg) {
		var msg = decodeMsg(msg);
		
		appendChatMsg(msg);
		
		
		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
		sendMsg();
	});


	var input = document.getElementById("myMessage");

	// Execute a function when the user releases a key on the keyboard
	input.addEventListener("keyup", function(event) {
		  // Number 13 is the "Enter" key on the keyboard
		  if (event.keyCode === 13) {
			sendMsg(); 
		  }
	});
	
	$("#setId").click(function(){
		var id = $("#idInput").val();
		$("#idShow").text(id);
		$("#idInput").val('');
	});
});



</script>
<span>当前在线人数: <span id="total"></span> </span> <br/><br/>

<span>游戏ID： </span>
<span id="idShow">xixi</span>
<br/>

<span>输入你的游戏ID： </span>
<input type="text" id="idInput">
<button id="setId">set</button>



<div style="width:500px;" >
	<ul id="messages" style="list-style-type:none;">
		
	</ul>
</div><br/>

<input type="text" id="myMessage">
<button id="sendbutton">Send</button>
</body>
</html>
